{% extends 'base_app/base.html' %}
{% load humanize %}

{% block title %}
    Index
{% endblock title %}

{% block body %}
    <h1>index page</h1>

    {% if user.is_authenticated %}
        <h1>Welcome {{ user }}</h1>
        <a href="{% url 'base_app:logout' %}">Log out</a> <br>
        <a href="{% url 'base_app:add_income' %}">Add Income</a> <br>
        <a href="{% url 'base_app:add_expense' %}">Add Expense</a> <br>
        <a href="{% url 'base_app:add_income' %}">Add Saving</a> <br>
        <a href="{% url 'base_app:add_income' %}">Add Investment</a> <br>
    {% else %}
        <a href="{% url 'base_app:login' %}">Log In</a>
        <a href="{% url 'base_app:register' %}">Register</a>
    {% endif %}
    <hr>
    <p>Your income is: {{ total_income|intcomma }}</p>

    <ul>
    {% for income in incomes %}
        <li>{{ income }}</li>
    {% endfor %}
    </ul>

{% endblock body %}