.body {
    display: flex;
    justify-content: center;
}
.general {
    width: 500px;
}
@media (max-width: 400px){
    .general {
        width: 100%;
    }
}
.separator {
    margin: 5px auto;
}
.general {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#pagination_div {
    display: flex;
    justify-content: center;
}
#nav_pages {
    margin: 0;
    padding: 0;
}
.pagination {
    margin-top: 20px;
    margin-bottom: 0;
}
#new_post_form {
    overflow: hidden;
}
.btn-primary {
    margin-top: 5px;
    float: right;
}

#posts {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.post_author {
    display: inline-block;
    color: goldenrod;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post_author:hover {
    color: orangered;
    text-decoration: none;
}
.ptag_post {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-style: italic;
}
.ptag_datetime {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.fotter_post {
    display: flex;
    justify-content: space-between;
}
.likes {
    margin-left: 5px;
}



.bi {
    fill: lightcoral;
}
.bi:hover {
    fill: rgb(255, 73, 73);
}
.like_section {
    user-select: none;
}
