{% extends "network/layout.html" %}

{% block body %}
    <div class="general">
        {% if user.is_authenticated and option == 'all' %}
        <div id="new_post">
            <form action="{% url 'create_post' %}" method="post">
                {% csrf_token %}
                {{ post_form }}
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
        {% endif %}
        <div id="posts">
            {% for post in posts %}
                <p>{{ post }} <button class='like_btn'>likes: {{ post.like }}</button> </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}