{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script src="{% static 'network/post_data.js' %}"></script> 
    <script src="{% static 'network/profile.js' %}"></script> 
{% endblock script %}

{% block body %}
    <div class="general">

        {% if can_follow %}
            <a href="#">Follow?</a>
        {% endif %}
        <hr>

        {{ follower }}
        {{ following }}

        <div id="posts">
        </div>
        
        <div id="pagination_div">
        </div>
    </div>
{% endblock %}